.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  box-sizing: border-box;
  min-height: 293px;
}

.header_menu ul {
  display: flex;
  gap: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  list-style: circle;
  padding-left: 50px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list-item_no-bullit a {
  text-decoration: none;
}

.header_logo {
  width: 148px;
  opacity: 100%;
}

.header_logo-image {
  padding: 7px 7px;
}

.address {
  width: 290px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.address.header__address {
  justify-self: end;
  text-align: left;
}

.address.header__address a {
  color: #000000;
}

.cover {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover_title {
  padding: 165px 50px 0px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 130px;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.accent-span {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 106px 50px 0;
}

.cover__description-text {
  justify-self: start;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  justify-self: end;
  width: 256px;
  height: 51px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
  background-color: transparent;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.lots__heading {
  padding-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  margin-bottom: 30px;
  list-style-type: none;
  background-repeat: no-repeat;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
}

.lot_content {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  padding: 48px 40px 0;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.card__text {
  padding: 0 40px 48px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.lots__look-more-link {
  height: 100%;
  padding-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-underline-position: from-font;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: bottom;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: bottom;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: bottom;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  box-sizing: border-box;
  min-height: 595px;
  margin-top: 120px;
  padding: 0 24px;
}

.about__logo {
  position: relative;
  top: 35px;
  left: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  padding: 50px 50px;
}

.about__title {
  margin-bottom: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-transform: uppercase;
}

.about_box {
  justify-self: end;
  width: 693px;
  padding-top: 133px;
}

.about__text {
  margin-bottom: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.about_text-bottom {
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  box-sizing: border-box;
  min-height: 180px;
  margin-top: 180px;
  padding-right: 50px;
  padding-left: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.footer__menu-list {
  text-align: center;
}

.footer__menu-list-item {
  list-style-type: none;
}

.footer__menu-link_active a {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  height: 48px;
}

.address.footer__address {
  justify-self: start;
  text-align: left;
}

.address.footer__address a {
  color: #000000;
}
