.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.header__menu {
  padding-top: 0;
}

.header__link {
  text-underline-position: under;
  text-decoration-thickness: auto;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end;
  font-style: normal;
  line-height: 24px;
  padding: 0;
  text-underline-position: under;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 135px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
  line-height: 115px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text--1 {
  letter-spacing: 32px;
}
.aligned-text--2 {
  letter-spacing: 30px;
}
.aligned-text--3 {
  letter-spacing: 32px;
}

.cover__description {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 78px;
}

.cover__description-text {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  white-space: nowrap;
}

.bet-button {
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  padding: 12px 32px;
  border: 1px solid #fff;
}

.lots {
  display: flex;
  flex-direction: column;
  padding: 180px 50px 181px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lots__card-list-item {
  flex: 0 0 calc((100% - 50px) / 3);
  min-height: 450px;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 40px;
  height: 100%;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  z-index: 2;
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.card__text {
  z-index: 2;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  font-size: 20px;
  text-underline-position: under;
  text-underline-offset: 0.05em;
  padding: 30px 0 0 40px;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 0 50px 180px;
  align-items: start;
  justify-items: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin: 100px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0 50px 90px;
}

.address {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-underline-position: under;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-nav {
  justify-self: end;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-list-item {
  height: 100%;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  height: 48px;
}
