.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 34px;
  margin: 0;
  padding: 0;
  list-style: circle;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header_logo {
  display: block;
  justify-self: center;
  width: 148px;
}

.header_logo-image {
  display: block;
  width: 148px;
  height: 105px;
  object-fit: contain;
}

.header__address {
  justify-self: end;
  padding-right: 33px;
  text-align: left;
}

.address {
  width: 240px;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
}

.address a {
  display: inline-block;
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-underline-position: under;
}

.address p {
  margin: 0;
}

.cover {
  position: relative;
  box-sizing: border-box;
  min-height: 757px;
  background: url("../images/cover.jpg") center/cover no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0.6;
  background-color: #000000;
}

.cover_title {
  position: absolute;
  top: 165px;
  left: 50px;
  z-index: 2;
  width: 1000px;
  height: 385px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;
}

.accent-span {
  display: block;
  max-width: 100%;
}

.cover_title .accent-span:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  align-self: start;
  text-align: left;
}

.cover_title .accent-span:nth-child(2) {
  grid-column: 1/ -1;
  grid-row: 2;
  align-self: center;
  text-align: center;
}

.cover_title .accent-span:nth-child(3) {
  grid-column: 3;
  grid-row: 3;
  justify-self: end;
  align-self: end;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.letter-spacing-wide {
  letter-spacing: 0.3em;
}

.cover_title .accent-span:nth-child(1),
.cover_title .accent-span:nth-child(3) {
  text-align: initial;
}

.cover__description {
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 50px;
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 78px;
}

.cover__description-text {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.bet-button {
  width: 256px;
  min-height: 51px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
  background-color: transparent;
}

/* lots */

.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.lots__heading {
  margin: 0;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 27px 0 30px;
  padding: 0;
  list-style-type: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.lot_content {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.card__title {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 48px 40px 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}

.card__text {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0 40px 48px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;
  padding-left: 40px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 290px 1fr;
  column-gap: 72px;
  box-sizing: border-box;
  justify-items: start;
  margin-top: 120px;
  margin-bottom: 180px;
  padding: 0 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 0 0 47px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about_box {
  width: 693px;
  padding-top: 138px;
  justify-self: start;
  margin: 0;
  text-align: left;
}

.about__title {
  margin: 0 0 100px;
  padding-top: 3px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: left;
}

.about__text {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}

.about__text:last-child {
  margin-bottom: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding: 0 50px 90px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.footer__menu {
  justify-self: center;
  padding-top: 1px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  line-height: 21.13px;
}

.footer__menu-link {
  color: inherit;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  justify-self: end;
  gap: 48px;
  margin: 0;
  padding: 1px 0 0;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
